body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:186px;
  top:0px;
  width:1024px;
  height:90px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:90px;
}
#u1 {
  position:absolute;
  left:2px;
  top:37px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:186px;
  top:0px;
  width:200px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:421px;
  top:32px;
  width:133px;
  height:38px;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:396px;
  top:18px;
  width:10px;
  height:60px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:60px;
}
#u7 {
  position:absolute;
  left:186px;
  top:86px;
  width:1024px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1007px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1024px;
  height:3px;
}
#u8 {
  position:absolute;
  left:186px;
  top:90px;
  width:1024px;
  height:560px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:560px;
}
#u9 {
  position:absolute;
  left:2px;
  top:272px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:136px;
  width:790px;
  height:514px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:514px;
}
#u11 {
  position:absolute;
  left:2px;
  top:249px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:136px;
  width:790px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:854px;
  top:350px;
  width:186px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:830px;
  top:260px;
  width:10px;
  height:250px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:233px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:250px;
}
#u17 {
  position:absolute;
  left:864px;
  top:378px;
  width:36px;
  height:26px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:921px;
  top:378px;
  width:36px;
  height:26px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:980px;
  top:378px;
  width:36px;
  height:26px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:448px;
  top:304px;
  width:68px;
  height:24px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:448px;
  top:365px;
  width:48px;
  height:24px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:526px;
  top:304px;
  width:200px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:526px;
  top:365px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:650px;
  top:140px;
  width:117px;
  height:32px;
  font-family:'新宋体 Bold', '新宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:448px;
  top:435px;
  width:68px;
  height:24px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:526px;
  top:435px;
  width:114px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:650px;
  top:420px;
  width:90px;
  height:39px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:710px;
  top:544px;
  width:110px;
  height:26px;
  text-decoration:underline;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:526px;
  top:500px;
  width:180px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:541px;
  top:544px;
  width:160px;
  height:26px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
